<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <style>
    body {font-family: 'Arial', sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;}
    .header, .footer {background-color: #102A43; color: #ffffff; padding: 20px;}
    .email-container {max-width: 600px; margin: auto; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);}
    .button {background-color: #1E88E5; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold;}
    .recovery-code {color: #E53935; font-size: 24px; font-weight: bold;}
    h1, h2, p {margin: 0;}
  </style>
</head>
<body>
  <table class="header" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="text-align: center;">
        <h2>Thomfilg.com</h2>
      </td>
    </tr>
  </table>