<%- include('../../helpers/header') %>
<table class="email-container" role="module" border="0" cellpadding="0" cellspacing="0" width="100%">
  <h1>Attempt to change password</h1>
  <p>We received one request to change your account password</p>
  <p>You can click on below link to confirm the new password</p>
  <a href="<%= changePasswordLink %>" class="button">Change password</a>
  <p>If this wasn't you, just ignore this email</p>
  <%- include('../../helpers/accessDetails') %>
</table>
<%- include('../../helpers/footer') %>
