<%- include('../../helpers/header') %>
<table class="email-container" role="module" border="0" cellpadding="0" cellspacing="0" width="100%">
  <h1>Email changed successfully</h1>
  <p>You no longer will receive emails on this emaill account</p>
  <p>If this change was made by you, you don't need to do any action</p>
  <p>If you think that it was a mistake, you have 24 hours to revert it</p>
  <p>You can click on below link to revert the changes</p>
  <a href="<%= revertChangeEmailLink %>" class="button" style="margin-top: 15px;">Revert Change</a>
  <%- include('../../helpers/accessDetails') %>
</table>
<%- include('../../helpers/footer') %>
